.streamer {
  width: 550px;
  padding: 5px 10px;
  padding-top: 0px;
  border-top: 1px solid #a4a09d;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.streamer.collapsed ol,
.streamer.collapsed img {
  display: none;
}

.streamer ol {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border: 1px solid #a4a09d;
}

.streamer ol li {
  background: #fff;
}

.streamer ol li:nth-child(odd) {
  background: #eee;
}

.streamer ol a {
  padding: 3px;
  color: #000;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  outline: none;
  font-weight: normal;
}

.streamer ol li.active {
  background: #6e98cb;
}
.streamer ol li.active a {
  color: #fff;
}
.streamer .title {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 22px;
  font-weight: bold;
  font-size: 12px;
}

.streamer .controls {
  height: 24px;
  margin-top: 5px;
  margin-left: 10px;
}

.streamer .bar {
  height: 4px;
  margin: 8px 0px;
  position: relative;
  border: 1px solid #878481;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
}

.streamer .progress {
  position: absolute;
  height: 4px;
  border: 1px solid #597ca7;
  background: #6e98cb;
  width: 0px;
  left: -1px;
  top: -1px;
  z-index: 10;
}

.streamer .load_progress {
  position: absolute;
  height: 4px;
  background: #dad8d6;
  width: 0px;
  left: 0px;
  top: 0px;
  z-index: 9;
}

.streamer .progress .slider {
  position: absolute;
  right: -9px;
  top: -4px;
  width: 18px;
  background: #fff;
  height: 4px;
  padding: 3px 0;
  border: 1px solid #a4a09d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.streamer img {
  width: 111px;
  height: 111px;
  background: #eee;
  margin-right: 5px;
  float: left;
  border: 1px solid #878481;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
}

.streamer .controls div.button {
  background: none;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
  display: block;
  border: 1px solid transparent;
  outline: none;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-position: center center;
  background-repeat: no-repeat;
}

.streamer .controls div.button:focus {
  outline: none;
}

.streamer .controls div.button:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px #000;
  -moz-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}

.streamer .controls div.button:active,
.streamer .controls div.button.active:hover {
  background-color: #dad8d6;
  border: 1px solid #878481;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.streamer .controls div.button.active {
  background-color: #dad8d6;
  border: 1px solid #878481;
}

.streamer div.button.stop {
  background-image: url("../img/player_stop.png");
}
.streamer div.button.play {
  background-image: url("../img/player_play.png");
}
.streamer div.button.next {
  background-image: url("../img/player_fwd.png");
}
.streamer div.button.previous {
  background-image: url("../img/player_rew.png");
}
.streamer div.button.playlist {
  float: right;
  background-image: url("../img/player_playlist.png");
}

.streamer div.button.volume_toggle {
  float: right;
  background: url("../img/player_vol.png") center center no-repeat;
  position: relative;
}

.streamer .volume_container {
  display: none;
  top: -1px;
  left: -1px;
  z-index: 20;
  height: 100px;
  position: absolute;
  width: 24px;
  background: #efefef;
  border: 1px solid #a4a09d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.streamer .volume_toggle.active .volume_container {
  display: block;
}

.streamer .volume {
  position: absolute;
  width: 4px;
  top: 12px;
  bottom: 12px;
  left: 50%;
  margin: 0 auto;
  margin-left: -4px;
  border: 1px solid #878481;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  background: #dad8d6;
}

.streamer .volume .volume_bg {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 4px;
  height: 100%;
  border: 1px solid #597ca7;
  background: #6e98cb;
}


.streamer .volume .volume_bg .slider {
  position: absolute;
  top: -9px;
  right: -4px;
  height: 18px;
  background: #fff;
  width: 4px;
  padding: 0 3px;
  border: 1px solid #a4a09d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.slider {
  cursor: pointer;
}
