.streamer {
  width: 550px;
  padding: 5px;
  padding-top: 0px;
  border-top: 1px solid #a4a09d;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

.streamer ol {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-height: 300px;
  border: 1px solid #a4a09d;
}

.streamer ol li {
  background: #fff;
}

.streamer ol li:nth-child(odd) {
  background: #eee;
}

.streamer ol a {
  padding: 3px;
  cursor: default;
  color: #000;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  outline: none;
}

.streamer ol li.active {
  background: #6e98cb;
}
.streamer ol li.active a {
  color: #fff;
}
.streamer .title {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 22px;
  font-weight: bold;
}

.streamer .controls {
  height: 24px;
  margin-top: 5px;
  margin-left: 10px;
}

.streamer .bar {
  height: 4px;
  margin: 8px 0px;
  position: relative;
  background: #dad8d6;
  border: 1px solid #878481;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
}

.streamer .progress {
  position: absolute;
  height: 100%;
  border: 1px solid #597ca7;
  background: #6e98cb;
  width: 0px;
  left: -1px;
  top: -1px;
  z-index: 10;
}

.streamer .progress .slider {
  cursor: default;
  position: absolute;
  right: -18px;
  top: -4px;
  width: 18px;
  background: #fff;
  height: 100%;
  padding: 3px 0;
  border: 1px solid #a4a09d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.streamer img {
  width: 111px;
  height: 111px;
  background: #eee;
  margin-right: 5px;
  float: left;
  border: 1px solid #878481;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
}

.streamer .controls span {
  width: 24px;
  height: 24px;
  margin: 0 2px;
  display: block;
  border: 1px solid transparent;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-position: center center;
}

.streamer .controls span:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px #000;
  -moz-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}

.streamer .controls span.active:hover {
  background-color: #dad8d6;
  border: 1px solid #878481;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.streamer .controls span.active {
  background-color: #dad8d6;
  border: 1px solid #878481;
}

.streamer span.stop {
  background-image: url("/img/player_stop.png");
}
.streamer span.play {
  background-image: url("/img/player_play.png");
}
.streamer span.play.pause {
  background-image: url("/img/player_pause.png");
}
.streamer span.next {
  background-image: url("/img/player_fwd.png");
}
.streamer span.previous {
  background-image: url("/img/player_rew.png");
}

.streamer span.volume_toggle {
  float: right;
  background: url("/img/player_vol.png") center center no-repeat;
  position: relative;
}

.streamer .volume {
  display: none;
  position: absolute;
  top: 0px;
  left: -10px;
  width: 4px;
  height: 100px;
  z-index: 20;
  border: 1px solid #878481;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
  background: #dad8d6;
  display: none;
}

.streamer .volume .volume_bg {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #597ca7;
  background: #6e98cb;
}

.streamer .volume_toggle.active .volume {
  display: block;
}

.streamer .volume .volume_bg .slider {
  position: absolute;
  top: -9px;
  right: -4px;
  height: 18px;
  background: #fff;
  width: 100%;
  padding: 0 3px;
  border: 1px solid #a4a09d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
